html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #1A1A1B;
    color: #D7DADC;
    text-decoration: none;
}
body{
    margin: 0;
    
}

/* CSS NAV */

nav{
    background-color: #FFE5CC;
    display: flex;
    width: 100%;
    height: 80px;
    

    img{
        width: 80px;
        height: 80px;

        
    }
    
    ul{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;


        li{
            margin-right: 40px;
            list-style-type: none;


                a{
                text-decoration: none;
                padding: 20px;
                color: #420001;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                }
                a:hover{
                    background-color:#FFB033;
                    text-decoration: underline;
                }
            }
     }
}

/* CSS BANNER CARTA */

.banner-carta{
    display: flex;
    justify-content: center;
    margin-left: 70px;
}
.banner{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS PRODUCTOS */

.productos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  .titulo-container{
    width: 100%;
    margin-left: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  .galeria {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  
  .burger-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 300px;
    margin-left: 130px;
    margin-bottom: 80px;
  }
  
  .burger-img-container img {
    width: 100%;
    height: 100%;
  }
  
  .burger-img-container:hover img {
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow:hidden;
  }
  
  .burger-txt-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.678);
    color: #000000;
    opacity: 0;
}
  
  .burger-img-container:hover .burger-txt-container {
    opacity: 1;
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow:hidden;
}
  
  .burger-txt {
    text-align: center;
  }

  .precio{
    padding: 10px;
   background-color: rgb(255, 0, 0);
  }

  /* CSS FOOTER */

  footer{
    background-color: #FFE5CC;
    color: #420001;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div{
        margin-right: 100px;
        a{
            color: #D26806;
        }
        a:hover{
          text-decoration: underline;
      }
    }
    
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 100px 0 300px;
     
    
}

.footer-cont{
    display: flex;
}
.footer-red{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}
footer a {
    text-decoration: none;

    svg{
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        
}
}
footer a svg:hover{
    
        background-color: #f1cfae;
        stroke: #D26806;
        
    
}