html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #1A1A1B;
    color: #D7DADC;
    text-decoration: none;
}
body{
    margin: 0;
    
}

/* CSS NAV */

nav{
    background-color: #FFE5CC;
    display: flex;
    width: 100%;
    height: 80px;
    

    img{
        width: 80px;
        height: 80px;

        
    }
    
    ul{
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;


        li{
            margin-right: 40px;
            list-style-type: none;


                a{
                text-decoration: none;
                padding: 20px;
                color: #420001;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                }
                a:hover{
                    background-color:#FFB033;
                    text-decoration: underline;
                }
            }
     }
}

/* CSS BANNER CARTA */

.banner-carta{
    display: flex;
    justify-content: center;
}

/* CSS PRODUCTOS */

.productos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  div.galeria {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  
  .burger-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  
  .burger-img-container img {
    width: 100%;
    height: 100%;
  }
  
  .burger-img-container:hover img {
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
  
  .burger-txt-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.404);
    color: #420001;
    opacity: 0;
  }
  
  .burger-img-container:hover .burger-txt-container {
    opacity: 1;
  }
  
  .burger-txt {
    text-align: center;
  }

  .precio{
    padding: 10px;
   background-color: rgb(255, 0, 0);
  }

  /* CSS FOOTER */

footer{
    margin-top: 30px;
    background-color: #FFE5CC;
    color: #420001;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div{
        margin-right: 100px;
        a{
            color: #D26806;
        }
    }
    
}
.footer-content{
    display: flex;
    margin-left: 50px;
     
    div h2{
        display: flex;
        justify-content: center;
    }
}
footer a {
    text-decoration: none;

    svg{
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        
}
}
footer a svg:hover{
    
        background-color: #f1cfae;
        stroke: #D26806;
        
    
}
