html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #1A1A1B;
    color: #D7DADC;
    text-decoration: none;
}
body{
    margin: 0;
}

/* CSS NAV */

nav{
    background-color: #FFE5CC;
    display: flex;
    width: 100%;
    height: 80px;
    

    img{
        width: 80px;
        height: 80px;

        
    }
    
    ul{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;


        li{
            margin-right: 40px;
            list-style-type: none;


                a{
                text-decoration: none;
                padding: 20px;
                color: #420001;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                }
                a:hover{
                    background-color:#FFB033;
                    text-decoration: underline;
                }
            }
     }
}

/* CSS BANNER */

.banner-filo{
    display: flex;
    justify-content: center;
}
.banner{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS FILOSOFIA CONTENT */

.filo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 50px;
}
.filo-img{
    margin-left: 150px;
}
.filo-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
    width: 30%;

        img{
            width: 140px;
            border-radius: 9990px;
            -webkit-border-radius: 9990px;
            -moz-border-radius: 9990px;
            -ms-border-radius: 9990px;
            -o-border-radius: 9990px;
}
}




























/* CSS FOOTER */

footer{
    background-color: #FFE5CC;
    color: #420001;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div{
        margin-right: 100px;
        a{
            color: #D26806;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 100px 0 300px;
     
    
}

.footer-cont{
    display: flex;
}
.footer-red{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}
footer a {
    text-decoration: none;

    svg{
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        
}
}
footer a svg:hover{
    
        background-color: #f1cfae;
        stroke: #D26806;
        
    
}
