html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #1A1A1B;
    color: #D7DADC;
    text-decoration: none;
}
body{
    margin: 0;
}

/* CSS NAV */

nav{
    background-color: #FFE5CC;
    display: flex;
    width: 100%;
    height: 80px;
    

    img{
        width: 80px;
        height: 80px;

        
    }
    
    ul{
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;


        li{
            margin-right: 40px;
            list-style-type: none;


                a{
                text-decoration: none;
                padding: 20px;
                color: #420001;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                }
                a:hover{
                    background-color:#FFB033;
                    text-decoration: underline;
                }
            }
     }
}

.productos-container{
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.productos-container:hover{
    background-color: #420001;
}
.banner{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: xx-large;
    }
}
.local{
    display: flex;
    justify-content: space-around;
}











/* CSS FOOTER */

footer{
    background-color: #FFE5CC;
    color: #420001;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div{
        margin-right: 100px;
        a{
            color: #D26806;
        }
    }
    
}
.footer-content{
    display: flex;
    margin-left: 50px;
     
    div h2{
        display: flex;
        justify-content: center;
    }
}
footer a {
    text-decoration: none;

    svg{
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        
}
}
footer a svg:hover{
    
        background-color: #f1cfae;
        stroke: #D26806;
        
    
}